.download-btn {
  position: absolute;
  top: 8.5px;
  right: 72px;
  z-index: 899;
}

.container {
  overflow-x: hidden;
}
.container h1 {
  margin: 10px;
}
.container .col {
  margin: 5px;
}
.container .col .card {
  border-radius: 10px;
  overflow: hidden;
}
