.landing {
  height: 100%;
  width: 100%;
  top: 56px;
  z-index: 1;
  position: absolute;
  -webkit-animation: fade-in 2.5s forwards;
          animation: fade-in 2.5s forwards;
}
.landing .caption {
  position: absolute;
  -webkit-animation: caption 1s forwards;
          animation: caption 1s forwards;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  font-family: "almond_nougat";
}
.landing .caption h1 {
  font-size: 7.5vw;
  color: #70c3ed;
}
.landing .caption h3 {
  font-size: 3vw;
  color: #9ecc3a;
}
.landing .display {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: img 1s forwards;
          animation: img 1s forwards;
  -webkit-transform: perspective(45deg);
          transform: perspective(45deg);
}
.landing .display img {
  width: 50vw;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 0;
}
.waveWrapper.waveAnimation .waveTop {
  -webkit-animation: move_wave 5s linear infinite;
          animation: move_wave 5s linear infinite;
}
.waveWrapper.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}
.waveWrapper.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}
.waveWrapper .waveWrapperInner {
  position: absolute;
  width: 1200px;
  min-width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3f51b5), color-stop(80%, #20253f));
  background-image: linear-gradient(to top, #3f51b5 20%, #20253f 80%);
}
.waveWrapper .waveWrapperInner.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.waveWrapper .waveWrapperInner.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.waveWrapper .waveWrapperInner.bgBottom {
  z-index: 5;
}
.waveWrapper .waveWrapperInner .wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.waveWrapper .waveWrapperInner .wave.waveTop {
  background-size: 50% 100px;
}
.waveWrapper .waveWrapperInner .wave.waveMiddle {
  background-size: 50% 120px;
}
.waveWrapper .waveWrapperInner .wave.waveBottom {
  background-size: 50% 100px;
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
@-webkit-keyframes caption {
  from {
    margin-top: -10%;
  }
  to {
    margin-top: 2.5%;
  }
}
@keyframes caption {
  from {
    margin-top: -10%;
  }
  to {
    margin-top: 2.5%;
  }
}
@-webkit-keyframes img {
  from {
    margin-top: -10%;
  }
  to {
    margin-top: 17.5%;
  }
}
@keyframes img {
  from {
    margin-top: -10%;
  }
  to {
    margin-top: 17.5%;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 720px) {
  .landing .caption h1 {
    font-size: 17.5vw !important;
  }
  .landing .caption h3 {
    font-size: 6.25vw !important;
  }

  .display img {
    width: 85vw !important;
  }

  @-webkit-keyframes caption {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 24px;
    }
  }

  @keyframes caption {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 24px;
    }
  }
  @-webkit-keyframes img {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 196px;
    }
  }
  @keyframes img {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 196px;
    }
  }
}
@media (min-width: 1620px) {
  .landing .caption h1 {
    font-size: 120px !important;
  }
  .landing .caption h3 {
    font-size: 48px !important;
  }

  .display img {
    width: 810px !important;
  }

  @-webkit-keyframes caption {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 56px;
    }
  }

  @keyframes caption {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 56px;
    }
  }
  @-webkit-keyframes img {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 296px;
    }
  }
  @keyframes img {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 296px;
    }
  }
}
