.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link {
    :hover,
    :focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }
}
.form {
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 32px;
    padding: 2%;
}
.form-group {
    margin: 5px;
    margin-bottom: 10px;
}
