body {

    height: calc(100vh - 64px);
    .home {
        position: absolute;
        backdrop-filter: blur(4px);
        height: calc(100vh - 64px);
        background-color: transparent;

        .intro {
            img {
                margin: 32px;
                height: 128px;
                width: auto;
            }

            .info {
                margin: 32px 35px 0 35px;
            }
        }
    }
    .info {
        height: fit-content;
    }
}
